/venv
/.idea
/dz_others/kasmirenko/__pycache__
/dz_others/module1/__pycache__
/dz_others/subject1_search/__pycache__
/dz_others/subject2_sort/__pycache__
/dz_others/subject3_full_permute/__pycache__
/dz_others/subject4_stack/__pycache__
/dz_others/subject5_trees/__pycache__
/dz_others/subject6_graphs/__pycache__
