.header {
    padding-top: 1%;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.header ul li{
    float: left;
}


.header ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}


li a:hover {background: #111111}

.table_style {
    padding: 15px;
    border: 1px solid black;
    width: 40%;
    margin-top: 1%;
}

.table_style td {
    height: 20%;
    padding: 15px;
    vertical-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover {background: #999999}


.buttons {
    background-color: white;
    border: 2px solid black;
    color: black;
    margin-left: 30%;
    margin-top: 1%;
    width: 8%;
    height: 6%;
    font-size: 20px;
    text-decoration: none;
}

.buttons:hover {background-color: #999999}