
/*========== MENU ========== */


.menu {
    border: 2px solid black;
}

.menu ul{
    list-style: none;
    text-align: center;
    font-size: 25px;
}

.menu ul li{
    display: inline-block;
    padding: 2px 40px 2px 40px;
    margin-left: auto;
    margin-right: auto;
}





/*========== /MENU ========== */





/*========== PRODUCT ========== */

.product {
    font-family: 'Lato', sans-serif;
    padding: 15px;
    border: 1px solid black;
    width: 80%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.product tr{
    height: 20%;
    vertical-align: center;
}

.product tr td{
    padding: 10px;
    text-align: center;
}

.product tr td img{
    width: 300px;
    height: 200px;
}

.product tr:nth-child(even) {background-color: #f2f2f2;}

.product tr:hover {background: #999999}



/*========== /PRODUCT ========== */


/*========== ADDITION ========== */

.add {
    font-family: 'Lato', sans-serif;
    padding: 15px;
    border: 1px solid black;
    width: 90%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}


.add tr{
    height: 20%;
    vertical-align: center;
}

.add tr td{
    padding: 10px;
    text-align: center;
}

.add tr td input{
    width: 200px;
    height: 30px;
    border: 2px solid black;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.add textarea{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/*========== /ADDITION ========== */

.button{

    font-family: 'Lato', sans-serif;
    background-color: white;
    border: 2px solid black;
    color: black;
    margin-left: 30%;
    margin-top: 1%;
    width: auto;
    height: 30px;
    font-size: 16px;
    text-decoration: none;
}

.button:hover {background-color: #999999}


.entry {
    font-family: 'Lato', sans-serif;
    background-color: white;
    border: 2px solid black;
    color: black;
    margin-left: 30%;
    margin-top: 1%;
    width: auto;
    height: 30px;
    font-size: 16px;
    text-decoration: none;
}